<div class="jumbotron-mt-4">
    <h1 class="display-1 text-center"
        style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        ~SportStore~
    </h1>
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">Buscar Producto
    </h1>

    <form action='/admins/consultaBuscarProEspe' method="POST">
        <div class="home_title text-center">
            <br>
            <br>
            <label style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Nombre
                Producto
                <br>
                <input type="text" name="NombreArticulo" id="NombreArticulo">
            </label>
            <br>
            <br>
            <button class="btn btn-primary btn-block" type="submit"
                style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                <i class="fas fa-question-circle"> Realizar consulta</i>
            </button>
            <br>
            <br>
        </div>
    </form>
</div>
<h1></h1>
<h1></h1>
<hr class="my-3">
<p class=" lead text-center"
    style=" color:crimson; font-size:50px; font-family: 'Times New Roman', Times, serif; font-weight: bolder;">
    ↓ Productos ↓
<p>
    <hr class="my-3">
<div class="row" style="font-family: 'Times New Roman', Times, serif;">
    <br><br>
    {{#each ProductosNom}}
    <div class="col-md-3">
        <div class="purchase">
            <div class="body">
                <h5 class="productos"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">
                    <i class="fas fa-shopping-bag"></i>
                    Producto: {{NombreArticulo}}
                </h5>
                <hr class="my-3">
            </div>
        </div>
    </div>
    {{/each}}
</div>