<div class="jumbotron-mt-4">
    <h1 class="display-1 text-center"
        style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        ~SportStore~
    </h1>
    <p class=" lead text-center" style=" font-size:23px; font-family: 'Times New Roman', Times, serif;">
        ¿Qué desea realizar?
    <p>
    <div class="form-group">
        <center>
            <button class="btn btn-primary btn-block"
                style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                <a href="/Products/ProductView">
                    <i class="fas fa-shopping-bag"> Agregar Producto</i>
                </a>
            </button>
        </center>
    </div>
    <div class="form-group">
        <center>
            <button class="btn btn-primary btn-block"
                style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                <a href="/Products/Promocion">
                    <i class="fas fa-percentage"> Agregar Promoción</i>
                </a>
            </button>
        </center>
    </div>
    <div class="dropright show">
        <center>
            <a class="btn btn-primary btn-block dropdown-toggle" role="button" data-toggle="dropdown"
                style="background-color:darkslategrey; height:60px; width:300px; font-size:25px; color: #2879FF">
                <i class="fas fa-tasks"> Consultas</i>
            </a>
            <div class="dropdown-menu" style="font-family: 'Times New Roman', Times, serif;"
                aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/admins/consultaBuscarCli">Buscar cliente particular</a>
                <a class="dropdown-item" href="/admins/consultaVerPro">Ver todos los productos adquiridos</a>
                <a class="dropdown-item" href="/admins/consultaBuscarPro">Buscar producto específico</a>
                <a class="dropdown-item" href="/admins/consultaProComun">Producto común</a>
            </div>
        </center>
    </div>
    <!--<div>
        <form action="/exportarDatos" method="GET">
            <button class="btn btn-primary" type="submit" style="background-color: darkred;"> ActualizarDatos </button>
        </form>
    </div>
    <div>
        <form action="/eliminarDatosNeo" method="GET">
            <button class="btn btn-primary" type="submit" style="background-color: darkred;"> Delete </button>
        </form>
    </div>-->
</div>