<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card border-primary mb-3 h2">
                <div class="card-header font-italic text-danger">
                    -SportStore-
                </div>
                <div class="card-header font-italic text-info">
                    Registre los deportes
                </div>
            </div>
            <div class="card-body">
                <form action="/Products/UsoDeportes" method="POST">
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example" name="Deportes"
                                value="{{Deportes}}">
                                <option value="">Elija Deporte</option>
                                <option value="Atletismo">Atletismo</option>
                                <option value="Baloncesto">Baloncesto</option>
                                <option value="Surf">Surf</option>
                                <option value="Baseball">Baseball</option>
                                <option value="Boxeo">Boxeo</option>
                                <option value="Tennis">Tennis</option>
                                <option value="Futbol">Futbol</option>
                                <option value="Futbol Americano">Futbol Americano</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block bg-info">
                                Añadir deporte
                            </button>
                        </div>
                </form>
                <form action="/Products/TerminaProducto" method="POST">
                    <button type="submit" class="btn btn-primary btn-block bg-info">
                        Añadir Producto
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>