<div class="container">
    <h1 class="text-center">CARRITO DE COMPRAS
    </h1>
    <div class="row">
        <!--Formulario -->
        <div class="col -md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/compras/carritoVista" method="POST">
                        <!--Campos de texto y botones -->
                        <button type="submit" class="btn btn-primary btn-block">
                            Mostrar productos
                        </button>
                        <div class="form-group">
                            <center>
                                <button class="btn btn-primary btn-block"
                                    style=" background-color:rgb(10, 120, 209); height:60px; width:300px; font-size:25px;">
                                    <a href="/mostrar/precioFinal">
                                        Finalizar compra
                                    </a>
                                </button>
                            </center>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p></p>
    <p></p>
    <p></p>
    </hr>
    <h1>Productos agregados</h1>
    <!--Tabla que muestra los datos -->

    <div class="row">
        {{#each Todos}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Producto:
                        {{ ProductoCompra }}</h6>
                    <h6 class="card-title">Cantidad:
                        {{ Cantidad }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>