<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card border-primary mb-3 h2">
                <div class="card-header font-italic text-danger">
                    ~ SportStore ~
                </div>
                <div class="card-header font-italic text-info">
                    Registrar Compra
                </div>
            </div>
            <div class="card-body">
                <form action="/compras/registrarCompra" method="POST">
                    <div class="form-group">
                        <input type="producto" name="ProductoCompra" class="form-control" placeholder="Producto"></div>
                        <div class="form-group">
                            <input type="cantidad" name="Cantidad" class="form-control" placeholder="Cantidad"></div>
                            <div class="form-group">
                                <button type="AgregarProductos" class="btn btn-primary btn-block">
                                    Agregar producto
                                </button>
                            </div>
                        </form>
                        <form action='/compras/finalCompra' method="POST">
                            <div class="form-group">
                                <center>
                                    <button class="btn btn-primary btn-lg" type="submit" style=" background-color:rgb(14, 141, 180); color-text:aliceblue; height:50px; width:310px; font-size:25px;">
                                        <!--<a href="/mostrar/carrito" class="text-primary">
                                            finalCompra	
                                        </a>-->
                                        Hola
                                    </button>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
