<div class="card" style="padding: 3cm; margin-top: 3cm;">
    <div>
        <h1 class="display-1 text-center"
            style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">~SportStore~</h1>
    </div>
    <div>
        <p style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
            Es la Tienda Virtual especializada en Deportes más grande de Costa Rica, donde podrás encontrar las marcas
            más reconocidas a nivel mundial.
            Encontrarás productos para cuidar tu cuerpo y practicar tu deporte favorito como: Fútbol, Tenis, Basketball,
            Fútbol Americano, Gym & Fitness, Funcional, Ciclismo, Running, Yoga & Pilates, Natación, Karate & Jiu Jitsu,
            Boxeo & MMA y mucho más.
        </p>
    </div>
</div>