<div class="jumbotron-mt-4">
    <h1 class="display-4"> SportStore</h1>
    <p class="lead">Bienvenido a la tienda deportiva virtual<p>
    <hr class="my-4">
    <p>Inicie su sesión y disfrute una experiencia de compras única, todos los artículos deportivos que desee estan aquí</p>
</div>