<div class="jumbotron-mt-4">
    <h1 class="display-4"> SportStore</h1>
    <h1 class="lead">Bienvenido a la tienda deportiva</h1>
    <hr class="my-4">
    <p>Inicie su sesión y disfrute una experiencia de compras única, todos los artículos deportivos que desee estarán aquí</p>
</div>