<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card border-primary mb-3 h2">
                <div class="card-header font-italic text-danger"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    ~ SportStore ~
                </div>
                <div class="card-header font-italic text-info"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    Cliente
                </div>
            </div>
            <div class="card-body">
                <form action="/prueba" method="POST">
                    
                    <div class="form-group" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                        <button type="submit" class="btn btn-primary btn-block bg-info">
                            prueba
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>