<div class="jumbotron-mt-4">
    <h1 class="display-1 text-center"
        style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        ~Principal~
    </h1>
    <h2 class="display-1 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        Bienvenid@ {{user.name}} </h2>
    <p class=" lead text-center" style=" font-size:23px; font-family: 'Times New Roman', Times, serif;">
        ¿Qué desea realizar?
    <p>
</div>