<div class="jumbotron-mt-4">
    <h1 class="display-1 text-center"
        style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        ~SportStore~
    </h1>
    <h2 class="display-1 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        Bienvenid@ {{user.name}} </h2>
    <p class=" lead text-center" style=" font-size:23px; font-family: 'Times New Roman', Times, serif;">
        ¿Qué desea realizar?
    <p>
    <div class="form-group">
        <center>
            <button class="btn btn-primary btn-block"
                style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                <a href="/compras/registrarCompra">
                    <i class="fas fa-shopping-bag"> Realizar compra</i>
                </a>
            </button>
        </center>
    </div>
    <div class="form-group">
        <center>
            <button class="btn btn-primary btn-block"
                style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                <a href="">
                    <i class="fas fa-history"> Ver historial</i>
                </a>
            </button>
        </center>
    </div>
</div>